<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/wwwroot/css/bootstrap.min.css">
    <link rel="stylesheet" href="/wwwroot/css/style.css">
    <title>Ders Blog Site</title>
</head>
<body>
    



    <!--SCRIPTS-->
    <script src="/wwwroot/js/bootstrap.bundle.min.js"></script>
    <script src="/wwwroot//js/jquery-3.6.0.min.js"></script>
    <script src="/wwwroot/js/script.js"></script>
</body>
</html>