@model Category
@{
    ViewData["Title"] = "Delete";
}
<h5>Delete Category</h5>
<hr>
<div class="">
Category ID:@Model.CategoryId
</div>
<div class="">
Category Name:@Model.CategoryName
</div>
<div class="">
Category Description:@Model.CategoryDescription
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="CategoryId">
    <input type="submit" class="most-Button btn btn-danger" value="Delete">
    <a class="most-Button btn btn-outline-primary" asp-action="Index">Back to Category Page</a>
</form>