@model EF_CodeFirst.Models.Publisher
@{
    ViewData["Title"] = "Delete";
}
<center>
<h5>Delete Publisher</h5>
<hr>
<div class="">
Publisher ID:@Model.PublisherId
</div>
<div class="">
Publisher Name:@Model.PublisherName
</div>
<div class="">
Publisher City:@Model.PublisherCity
</div>
<div class="">
Publisher Mail:@Model.PublisherMail
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="PublisherId">
    <input type="submit" class="most-Button btn btn-danger" value="Delete">
    <a class="most-Button btn btn-outline-primary" asp-action="Index">Back to Category Page</a>
</form>
</center>
