@model EF_CodeFirst.Models.Publisher
@{
    ViewData["Title"] = "Details";
}

<center>
    <h1>Details</h1>
<hr>
    <div class="row bg-light">
    <div class="col-sm-6 my-2">
        Publisher Id:
    </div>
    <div class="col-sm-6 my-2">
        @Model.PublisherId
    </div>
   <br>
    <div class="col-sm-6 my-2">
        Publisher Name:
    </div>
    <div class="col-sm-6 my-2">
        @Model.PublisherName
    </div>
    <div class="col-sm-6 my-2">
        Publisher City:
    </div>
    <div class="col-sm-6 my-2">
        @Model.PublisherCity
    </div>
    <div class="col-sm-6 my-2">
        Publisher Mail:
    </div>
    <div class="col-sm-6 my-2">
        @Model.PublisherMail
    </div>
    
</div>
<a class="most-Button btn btn-outline-primary mt-3" asp-action="Index">Back to Category Page</a>

</center>
