@model List<EF_CodeFirst.Models.Publisher>
@{
    ViewData["Title"] = "Deleted Publisher";
}
<center >
<h1>Deleted Publisher</h1>
<hr>
<a class="most-Button btn btn-primary" asp-action="Index">Back to Publisher Page</a>


<hr>
<table class="table table-sm table-dark w-50">
    <thead>
        <tr>
            <th>Publisher ID</th>
            <th>Publisher Name</th>
            <th>Transanction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var publisher in Model)
        {
            <tr class="">
                <td>@publisher.PublisherId</td>
                <td>@publisher.PublisherName</td>
                
                <td>
                    <a class="most-Button button btn-sm btn-info "asp-action="Restore" asp-route-id="@publisher.PublisherId">Restore</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</center>
