@{
    string[] adlar = { "ali", "murat", "cemal", "umay", "sezen" };
    <ul>
        @{
            foreach (string ad in adlar)
            {
                <li>@ad</li>
            }
        }
    </ul>
  }
